body{
    height: 100vh;
    background-image: url(file:///C:/Xampp1/htdocs/task_2/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
  text-align: center;
  padding: 20px 20px;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    margin: 100px 50px;
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2d7ee7;
}
.container label{
    text-align: left;
    color: white;
}
.container form input{
    width: 280px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2d7ee7;
    color: #fff;
    font-size: 20px;
}
.container form button{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color:#2d7ee7;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
}